<!DOCTYPE html>
{%load static%}
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="{{ page.description }}">
  <meta name="author" content="{{ page.author }}">

  <title>{{ page.title }}</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static "landing_template/vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="{% static "landing_template/vendor/fontawesome-free/css/all.min.css" %}" rel="stylesheet">
  <link href="{% static "landing_template/vendor/simple-line-icons/css/simple-line-icons.css" %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="{% static "landing_template/css/landing-page.min.css" %}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-light bg-light static-top">
    <div class="container">
      <a class="navbar-brand" href="#">{{ nav_bar.title }}</a>
      <a class="btn btn-primary" href="#">{{ nav_bar.sign_in }}</a>
    </div>
  </nav>

  <!-- Masthead -->
  <header class="masthead text-white text-center">
    <div class="overlay" style="background: url({% static masthead.img %}) no-repeat center center;"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5">{{ masthead.title }}</h1>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <form>
            <div class="form-row">
              <div class="col-12 col-md-9 mb-2 mb-md-0">
                <input type="email" class="form-control form-control-lg" placeholder="{{ masthead.email_text }}">
              </div>
              <div class="col-12 col-md-3">
                <button type="submit" class="btn btn-block btn-lg btn-primary">{{ masthead.submit_btn }}</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </header>

  <!-- Icons Grid -->
  <section class="features-icons bg-light text-center">
    <div class="container">
      <div class="row">
        {% for feature in features %}
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="{{ feature.icon }} m-auto text-primary"></i>
            </div>
            <h3>{{ feature.title }}</h3>
            <p class="lead mb-0">{{ feature.description }}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <!-- Image Showcases -->
  <section class="showcase">
    <div class="container-fluid p-0">
      {% for display in showcase %}
      <div class="row no-gutters">
        <div class="{{ display.class }}" style="background-image: url({% static display.img %});"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>{{ display.title }}</h2>
          <p class="lead mb-0">{{ display.description }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>

  <!-- Testimonials -->
  <section class="testimonials text-center bg-light">
    <div class="container">
      <h2 class="mb-5">{{ testimonial_title }}</h2>
      <div class="row">
        {% for testimonial in testimonials %}
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="{% static testimonial.img %}" alt="">
            <h5>{{ testimonial.name }} {{ call_to_action.img }}</h5>
            <p class="font-weight-light mb-0">{{ testimonial.quote }}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <!-- Call to Action -->
  <section class="call-to-action text-white text-center">
    <div class="overlay" style="background: url({% static call_to_action.img %}) no-repeat center center;"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h2 class="mb-4">{{ call_to_action.title }}</h2>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <form>
            <div class="form-row">
              <div class="col-12 col-md-9 mb-2 mb-md-0">
                <input type="email" class="form-control form-control-lg" placeholder="{{ call_to_action.email_text }}">
              </div>
              <div class="col-12 col-md-3">
                <button type="submit" class="btn btn-block btn-lg btn-primary">{{ call_to_action.submit_btn }}</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="footer bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
          <ul class="list-inline mb-2">
            {% for button in footer %}
              <li class="list-inline-item">
                <a href="#">{{ button.name }}</a>
              </li>
              {% if forloop.counter != footer|length %}
                <li class="list-inline-item">&sdot;</li>
              {% endif %}
            {% endfor %}
          </ul>
          <p class="text-muted small mb-4 mb-lg-0">{{ footer_text }}</p>
        </div>
        <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
          <ul class="list-inline mb-0">
            {% for icon in footer_icons %}
              <li class="list-inline-item mr-3">
                <a href="{{ icon.href }}">
                  <i class="fab {{ icon.name }} fa-2x fa-fw"></i>
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static "landing_template/vendor/jquery/jquery.min.js" %}"></script>
  <script src="{% static "landing_template/vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>

</body>

</html>
